{% extends 'base.html' %}

{% block page_content %}

  <section>
    <div class="container">
      <div class="text-center">
        <h1>Terms</h1>

        <br>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, alias.</p>
      </div>
    </div>
  </section>

  <section class="section-background">
    <div class="container">
      <div class="about-info">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit dolorem reprehenderit.</h2>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>

        <figure>
          <figcaption>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, deserunt beatae praesentium veniam.
              Aperiam assumenda quas qui officiis, minima laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe quos repellat eum tempore magnam
              molestiae. Minus atque, aliquid assumenda, vero non recusandae illum optio, sint dignissimos praesentium
              ducimus repudiandae eius, nulla. Pariatur magnam alias est voluptatibus distinctio voluptate culpa, iste
              quisquam! Iure itaque rerum sequi, tenetur voluptatibus nihil quaerat, quisquam non in autem ducimus
              tempore impedit. Odit, corporis, praesentium.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6">
          <div class="footer-info">
            <div class="section-title">
              <h2>Headquarter</h2>
            </div>
            <address>
              <p>212 Barrington Court <br>New York, ABC 10001</p>
            </address>

            <ul class="social-icon">
              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>

            <div class="copyright-text">
              <p>Copyright &copy; 2020 Company Name</p>
              <p>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="footer-info">
            <div class="section-title">
              <h2>Contact Info</h2>
            </div>
            <address>
              <p>+1 333 4040 5566</p>
              <p><a href="mailto:contact@company.com">contact@company.com</a></p>
            </address>

            <div class="footer_menu">
              <h2>Quick Links</h2>
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="terms.html">Terms & Conditions</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="footer-info newsletter-form">
            <div class="section-title">
              <h2>Newsletter Signup</h2>
            </div>
            <div>
              <div class="form-group">
                <form action="#" method="get">
                  <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email"
                         required>
                  <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                </form>
                <span><sup>*</sup> Please note - we do not spam your email.</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>

{% endblock %}
